.main-home {
  color: white;
  background-color: #080122;
  bottom: 0;
  width: 100%;
}
section {
  margin-top: 70px;
  bottom: 50px;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60vh;
  text-align: left;
}
section h1 {
  text-align: center;
}
section p {
  margin-top: 40px;
}
section button {
  margin-top: 10px;
  width: 150px;
  height: 50px;
}
